<style type="text/css">
    .pagination{float:right;}
</style>
<script src="assets/js/ui-bootstrap-tpls.js"></script>
<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a ui-sref="auth.plugins.tables.footable" ng-class="{ active: $state.includes('auth.plugins.tables.footable') }" class="list-group-item">Footable</a>
            <a ui-sref="auth.plugins.tables.datatable" ng-class="{ active: $state.includes('auth.plugins.tables.datatable') }" class="list-group-item">Datatable</a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="disable" class="btn btn-primary" ng-click="modalOpen_add()">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table style="margin-bottom:0px" class="table table-yuk2 toggle-arrow-tiny" id="footable_demo" data-filter="#textFilter" data-page-size="5">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>CREAT TIME</th>
                            <th>UPDATE TIME</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gr in group_new | limitTo:itemsPerPage">
                            <td>{{$index+1}}</td>
                            <td>{{gr.name}}</td>
                            <td>{{gr.create_time}}</td>
                            <td>{{gr.update_time}}</td>
                            <td>
                                <div class="btn-group">
                                  <button ng-disabled="disable" aria-expanded="false" data-toggle="dropdown" class="btn btn-sm btn-warning dropdown-toggle" type="button">
                                    Hành động <span class="caret"></span>
                                  </button>
                                  <ul role="menu" class="dropdown-menu">
                                    <li><a href="javascript:void(0)" ng-click="modalOpen_update(gr)">Cập nhật</a></li>
                                    <li><a href="javascript:void(0)" ng-click="delete($index,gr.id)">Xóa</a></li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pagination-sm"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" ng-click="list()"></pagination>

                <div id="facebookG" ng-if="loading">
                    <div id="blockG_1" class="facebook_blockG" >
                    </div>
                    <div id="blockG_2" class="facebook_blockG">
                    </div>
                    <div id="   blockG_3" class="facebook_blockG">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>