<div class="row">
    <div class="col-lg-9">
        <p class="page_heading">Tổng quan</p>
    </div>
    <div class="col-lg-3 lcol-sm-6">
        <select  class="form-control">
            <option value="1">Trong ngày</option>
            <option value="2">Hôm qua</option>
            <option value="2">3 ngày trước</option>
            <option value="2">7 ngày trước</option>
            <option value="2">1 tháng trước</option>
            
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="info_box_var_1 box_bg_a">
            <div class="info_box_body">
                <span class="info_box_icon icon_group"></span>
                <span class="countUpMe" data-endVal="1342">1342</span>
            </div>
            <div class="info_box_footer">
                Đăng ký mới
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="info_box_var_1 box_bg_b">
            <div class="info_box_body">
                <span class="info_box_icon icon_cart_alt"></span>
                <span class="countUpMe" data-endVal="57">57</span>%
            </div>
            <div class="info_box_footer">
                Đơn đặt hàng
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="info_box_var_1 box_bg_c">
            <div class="info_box_body">
                <span class="info_box_icon icon_wallet"></span>
                $<span class="countUpMe" data-endVal="13578">13 578</span>
            </div>
            <div class="info_box_footer">
                Tổng tiền thu được
                
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="info_box_var_1 box_bg_d">
            <div class="info_box_body">
                <span class="info_box_icon icon_mail_alt"></span>
                <span class="countUpMe" data-endVal="531">531</span>
            </div>
            <div class="info_box_footer">
                Sent Messages
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Danh sách đơn hàng mới nhất</span></div>
        <div class="row">
            
            <div class="col-md-12">
                <table class="table table-yuk">
                    <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Trạng thái</th>
                        <th>Ngày mua</th>
                        <th>Tổng tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nguyễn Văn Thịnh</td>
                        <td><span class="label label-info">Chờ xử lý</span></td>
                        <td>3 tiếng trước</td>
                        <td>368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nguyễn Văn Thịnh</td>
                        <td><span class="label label-info">Chờ xử lý</span></td>
                        <td>3 tiếng trước</td>
                        <td>368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nguyễn Văn Thịnh</td>
                        <td><span class="label label-info">Chờ xử lý</span></td>
                        <td>3 tiếng trước</td>
                        <td>368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nguyễn Văn Thịnh</td>
                        <td><span class="label label-info">Chờ xử lý</span></td>
                        <td>3 tiếng trước</td>
                        <td>368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nguyễn Văn Thịnh</td>
                        <td><span class="label label-success">Đã xử lý</span></td>
                        <td>3 tiếng trước</td>
                        <td>368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nguyễn Văn Thịnh</td>
                        <td><span class="label label-info">Chờ xử lý</span></td>
                        <td>3 tiếng trước</td>
                        <td>368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nguyễn Văn Thịnh</td>
                        <td><span class="label label-info">Chờ xử lý</span></td>
                        <td>3 tiếng trước</td>
                        <td>368.000 đ</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Sản phẩm bán nhiều nhất</span></div>
        <div class="row">
            
            <div class="col-md-12">
                <table class="table table-yuk">
                    <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Lượt mua</th>
                        <th>Tổng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nồi nấu đa năng siêu tốc Happy Call </td>
                        <td>350</td>
                        <td>48.368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nồi nấu đa năng siêu tốc Happy Call </td>
                        <td>350</td>
                        <td>48.368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nồi nấu đa năng siêu tốc Happy Call </td>
                        <td>350</td>
                        <td>48.368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nồi nấu đa năng siêu tốc Happy Call </td>
                        <td>350</td>
                        <td>48.368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nồi nấu đa năng siêu tốc Happy Call </td>
                        <td>350</td>
                        <td>48.368.000 đ</td>
                    </tr>

                    <tr>
                        <td ><a href="">#5846</a></td>
                        <td>Nồi nấu đa năng siêu tốc Happy Call </td>
                        <td>350</td>
                        <td>48.368.000 đ</td>
                    </tr>

                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="heading_a">
            <span class="heading_text">Quick Settings</span>

            <div class="pull-right">
                <a href="#"><i class="el-icon-cog heading_icon"></i></a>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="pull-right">
                    <input type="checkbox" class="js-switch mini-switch" ng-model="switch_site_online" ui-switch>
                </div>
                Site Online
            </li>
            <li class="list-group-item">
                <div class="pull-right">
                    <input type="checkbox" class="js-switch mini-switch" ng-init="switch_cache_enabled = true" ng-model="switch_cache_enabled" ui-switch>
                </div>
                Cache Enabled
            </li>
            <li class="list-group-item">
                <div class="pull-right">
                    <input type="checkbox" class="js-switch mini-switch" ng-model="switch_catalog_mode" ui-switch>
                </div>
                Catalog Mode
            </li>
            <li class="list-group-item">
                <div class="pull-right">
                    <input type="checkbox" class="js-switch-blue mini-switch" ng-init="switch_statistics = true" ng-model="switch_statistics" ui-switch="{ color: '#41b7f1' }">
                </div>
                Statistics
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="heading_a">
            <span class="heading_text">Orders</span>
        </div>
        <div id="c3_orders" style="height:220px"></div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="heading_a">
            <span class="heading_text">Users (by age)</span>
        </div>
        <div id="c3_users_age" style="height:220px"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="heading_a">
            <span class="heading_text">Sales</span>

            <div class="pull-right">
                <button class="btn btn-xs btn-default chart_switch" data-chart="line">Line</button>
                <button class="btn btn-xs btn-link chart_switch" data-chart="bar">Bar</button>
            </div>
        </div>
        <div id="c3_sales" style="height:280px"></div>
    </div>
</div>
