<div class="login_header">
    <img ng-src="assets/img/logo.png" alt="site_logo" width="63" height="26">
</div>
<div class="login_register_form">
    <div class="form_wrapper animated-short" id="login_form" ng-class="{'fadeOutDownBig': !loginForm}">
        <h3 class="sepH_c"><span>Login</span> \ <a href="javascript:void(0)" ng-click="switchForm('register_form')">Register</a></h3>
        <form action="">
            <div class="input-group input-group-lg sepH_a">
                <span class="input-group-addon"><span class="icon_profile"></span></span>
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="icon_key_alt"></span></span>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="sepH_c text-right">
                <a href="javascript:void(0)" class="small">Forgot password?</a>
            </div>
            <div class="form-group sepH_c">
                <a ui-sref="auth.home" class="btn btn-lg btn-primary btn-block">Log in</a>
            </div>
        </form>
    </div>
    <div class="form_wrapper animated-short" id="register_form" style="display:none" ng-class="{'fadeOutDownBig': loginForm}">
        <h3 class="sepH_c"><span>Register</span> \ <a href="javascript:void(0)" ng-click="switchForm('login_form')">Login</a></h3>
        <form action="">
            <div class="input-group input-group-lg sepH_a">
                <span class="input-group-addon"><span class="icon_profile"></span></span>
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group input-group-lg sepH_a">
                <span class="input-group-addon"><span class="icon_key_alt"></span></span>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="input-group input-group-lg sepH_c">
                <span class="input-group-addon"><span class="icon_mail_alt"></span></span>
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group sepH_c">
                <a ui-sref="auth.home" class="btn btn-lg btn-success btn-block">Register</a>
            </div>
        </form>
    </div>
</div>
