#facebookG{
width:80px}

.facebook_blockG{
background-color:#6B66FF;
border:2px solid #A1F4FF;
float:left;
height:20px;
margin-left:4px;
width:15px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.4s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.4s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.4s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.4s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.4s;
animation-iteration-count:infinite;
animation-direction:normal;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.41999999999999993s;
-webkit-animation-delay:0.41999999999999993s;
-ms-animation-delay:0.41999999999999993s;
-o-animation-delay:0.41999999999999993s;
animation-delay:0.41999999999999993s;
}

#blockG_2{
-moz-animation-delay:0.5599999999999999s;
-webkit-animation-delay:0.5599999999999999s;
-ms-animation-delay:0.5599999999999999s;
-o-animation-delay:0.5599999999999999s;
animation-delay:0.5599999999999999s;
}

#blockG_3{
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

} - See more at: http://cssload.net/#sthash.mFCqRMSi.dpuf