<div class="modal-content">
	<div class="modal-header ng-scope">
	    <button ng-click="cancel()" class="close" type="button">
	        <span aria-hidden="true">×</span>
	        <span class="sr-only">Close</span>
	    </button>
	    <h4 class="modal-title ng-binding">Edit Category</h4>
	</div>
	<form name="myForm">
		<div class="form-group">
        	<label class="col-sm-2 control-label" for="name">Thể loại :</label>
            <div class="col-sm-12">
				<select ng-model="row.parent_key" ng-options = "gr.id as gr.name for gr in grs" name="category" id="category" class="form-control">
	                <option value=""></option>
	            </select>

            </div>

        </div>
        <div class="clearfix"></div>
		<div class="modal-body ng-binding ng-scope">
		    <input type="text" ng-model="row.name" class="form-control" name='name' id="name_focus" ng-keyup="keyPress(event=$event)" required>
		</div>
		<div class="modal-footer ng-scope" style="text-align:right">
		    <button ng-click="ok()" class="btn btn-primary btn-sm" type="button" ng-disabled="myForm.name.$invalid" >Save changes</button>
		    <button ng-click="cancel()" class="btn btn-default btn-sm" type="button">Close</button>
		</div>
	</form>
	<div id="facebookG" ng-if="loading">
	    <div id="blockG_1" class="facebook_blockG" >
	    </div>
	    <div id="blockG_2" class="facebook_blockG">
	    </div>
	    <div id="blockG_3" class="facebook_blockG">
	    </div>
	</div>
</div>
