<style type="text/css">
    .pagination{float:right;}
</style>
<script src="assets/js/ui-bootstrap-tpls.js"></script>
<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a ui-sref="auth.plugins.tables.footable" ng-class="{ active: $state.includes('auth.plugins.tables.footable') }" class="list-group-item">Footable</a>
            <a ui-sref="auth.plugins.tables.datatable" ng-class="{ active: $state.includes('auth.plugins.tables.datatable') }" class="list-group-item">Datatable</a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="disable" class="btn btn-primary" ng-click="modalOpen_add()">Thêm mới</button>
            </div>
            <div class="col-md-5">
                <label for=""><i style="color:red">"nhấn đúp chuột vào dòng cần thêm để thêm con cho thể loại đó !"</i></label>
            </div>
        </div>
        <b>Selected Node</b> : {{mytree.currentNode}}</span>
        <div class="row">
            <div class="col-md-12">
            	<div
				  data-angular-treeview="true"
				  data-tree-id="mytree"
				  data-tree-model="group_new"
				  data-node-id="id"
				  data-node-label="name"
				  data-node-children="children" >
				</div>
            </div>
        </div>
    </div>
</div>
